[run]
omit =
    # Exclude experimental adapters and wrappers
    lakelogic/adapters/*
    
    # Exclude CLI and tooling scripts that are tested manually
    lakelogic/cli/*
    lakelogic/cli.py
    lakelogic/tools/*
    
    # Exclude AI module (if it relies heavily on external LLM calls)
    lakelogic/ai/*
